Repository TTTReborn/tttreborn, pull requests merged in 2021-07, with the labels that each got.

#82 Inventory: Added `IItem` and `ICarriableItem` supported Inventory
  code/items/IBuyableItem.cs
  code/items/ICarriableItem.cs
  code/items/IItem.cs
  code/items/equipments/MagnetoStick.cs
  code/items/equipments/TTTEquipment.cs
  code/items/weapons/Knife.cs
  code/items/weapons/Pistol.cs
  code/items/weapons/SMG.cs
  code/items/weapons/Shotgun.cs
  code/items/weapons/TTTWeapon.cs
  code/player/Inventory.cs
  code/player/PlayerCorpse.cs
  code/player/TTTPlayer.Shop.cs
  code/player/TTTPlayer.cs
  code/rounds/InProgressRound.cs
  code/rounds/PreRound.cs
  code/ui/Crosshair.cs
  code/ui/Hud.cs
  code/ui/InventorySelection.cs
  code/ui/InventorySelection.scss
  code/ui/PlayerInfo.cs
  code/ui/QuickShop.cs
  code/ui/WeaponSelection.cs
Labels: area/code, type/enhancement

#84 Feature: Flashlight added
  code/player/TTTPlayer.Flashlight.cs
  code/player/TTTPlayer.cs
Labels: issue/feature-request, type/enhancement

#92 Networking: Fixed networking issues
  code/player/TTTPlayer.Ammo.cs
  code/player/TTTPlayer.Clothes.cs
  code/player/TTTPlayer.Commands.cs
  code/player/TTTPlayer.Confirmation.cs
  code/player/TTTPlayer.FallDamage.cs
  code/player/TTTPlayer.Flashlight.cs
  code/player/TTTPlayer.RPCs.cs
  code/player/TTTPlayer.Roles.cs
  code/player/TTTPlayer.Shop.cs
  code/player/TTTPlayer.Status.cs
  code/player/TTTPlayer.cs
  code/roles/TraitorRole.cs
  code/rounds/InProgressRound.cs
  code/rounds/PostRound.cs
Labels: area/code, type/bug

#85 Nameplate health indication & role display
  code/player/TTTPlayer.Lookup.cs
  code/player/TTTPlayer.Status.cs
  code/ui/Nameplate.cs
  code/ui/Nameplate.scss
Labels: area/UI, type/enhancement

#94 MagnetoStick: Fix ropes displaying issue
  code/items/equipments/MagnetoStick.cs
Labels: area/code

#93 Hud: Added perks to the UI
  code/items/equipments/TTTEquipment.cs
  code/items/perks/TTTPerk.cs
  code/items/perks/Test1.cs
  code/items/perks/Test2.cs
  code/player/Inventory.Perks.cs
  code/ui/Crosshair.cs
  code/ui/Effect.cs
  code/ui/Effects.cs
  code/ui/Effects.scss
  code/ui/GameTimer.cs
  code/ui/Hud.cs
  code/ui/Nameplate.cs
  code/ui/PlayerInfo.cs
  code/ui/QuickShop.cs
  code/ui/ScoreboardEntry.cs
Labels: area/UI

#98 Meta: Added `TTTReborn.Globals`, including `Utils` and `RPCs`
  code/gamemode/Game.cs
  code/global/RPCs.cs
  code/global/Utils.cs
  code/player/TTTPlayer.Commands.cs
  code/player/TTTPlayer.Confirmation.cs
  code/player/TTTPlayer.RPCs.cs
  code/player/TTTPlayer.Roles.cs
  code/player/TTTPlayer.Status.cs
  code/player/TTTPlayer.cs
  code/player/camera/SpectateCamera.cs
  code/roles/TTTRole.cs
  code/roles/TraitorRole.cs
  code/rounds/InProgressRound.cs
  code/rounds/PostRound.cs
  code/rounds/WaitingRound.cs
  code/ui/ChatBox.cs
  code/ui/Scoreboard.cs
Labels: area/code, area/meta

#97 Flashlight: Fixed clientside "lagging"
  code/player/TTTPlayer.Flashlight.cs
Labels: area/code, type/enhancement

#96 Fix: Fixed weapon spawning when adding to the inventory failed
  code/items/IBuyableItem.cs
  code/items/IItem.cs
  code/items/equipments/TTTEquipment.cs
  code/items/perks/TTTPerk.cs
  code/items/weapons/TTTWeapon.cs
  code/player/Inventory.Perks.cs
  code/player/Inventory.cs
  code/player/TTTPlayer.Commands.cs
  code/player/TTTPlayer.Shop.cs
  code/rounds/InProgressRound.cs
  code/ui/QuickShop.cs
Labels: area/code, type/bug

#102 Perk: Added `TTTCountdownPerk`, `Radar` and fixed TTTPerk issues (`OnEquip()`, ...)
  code/items/IBuyableItem.cs
  code/items/IItem.cs
  code/items/perks/TTTCountdownPerk.cs
  code/items/perks/TTTPerk.cs
  code/items/perks/Test1.cs
  code/items/perks/Test2.cs
  code/items/perks/radar/Radar.cs
  code/items/perks/radar/RadarPoint.cs
  code/items/perks/radar/RadarPoint.scss
  code/player/Inventory.Perks.cs
  code/player/TTTPlayer.RPCs.cs
  code/player/TTTPlayer.cs
  code/ui/Effect.cs
  code/ui/Effects.scss
  ui/weapons/ttt_radar.png
Labels: area/code

#99 Fix: Refactor inventory selection
  code/global/RPCs.cs
  code/player/Inventory.cs
  code/player/TTTPlayer.RPCs.cs
  code/ui/InventorySelection.cs
  code/ui/Scoreboard.cs
Labels: area/UI

#109 Fix: inventory selecting UI getting cleared
  code/player/Inventory.cs
  code/player/TTTPlayer.RPCs.cs
  code/ui/InventorySelection.cs
Labels: area/code, type/bug

#108 Shop: Fixed weapon spawning
  code/items/IBuyableItem.cs
  code/items/equipments/TTTEquipment.cs
  code/items/perks/TTTPerk.cs
  code/items/weapons/TTTWeapon.cs
  code/player/TTTPlayer.Shop.cs
  code/ui/QuickShop.cs
Labels: area/code

#95 Movement: Increased GroundFriction, decreased sliding, Added Stamina
  code/player/TTTPlayer.cs
  code/player/controller/DefaultWalkController.cs
  code/ui/PlayerInfo.cs
  code/ui/PlayerInfo.scss
Labels: area/code

#111 Damage: Added drowning damage, improved falldamage (velocity based), added DamageIndicator, improved RPCs
  code/global/RPCs.cs
  code/player/TTTPlayer.Confirmation.cs
  code/player/TTTPlayer.FallDamage.cs
  code/player/TTTPlayer.RPCs.cs
  code/player/TTTPlayer.Status.cs
  code/player/TTTPlayer.cs
  code/player/controller/DefaultWalkController.cs
  code/ui/DamageIndicator.cs
  code/ui/DamageIndicator.scss
  code/ui/DrowningIndicator.cs
  code/ui/DrowningIndicator.scss
  code/ui/General.cs
  code/ui/Hud.cs
  code/ui/PlayerInfo.cs
  ui/damageindicator/default.png
Labels: area/UI, area/code, issue/feature-request

#112 UI: Refactored folder structure
  code/ui/alivehud/DamageIndicator.cs
  code/ui/alivehud/DamageIndicator.scss
  code/ui/alivehud/DrowningIndicator.cs
  code/ui/alivehud/DrowningIndicator.scss
  code/ui/alivehud/Effect.cs
  code/ui/alivehud/Effects.cs
  code/ui/alivehud/Effects.scss
  code/ui/alivehud/InspectMenu.cs
  code/ui/alivehud/InspectMenu.scss
  code/ui/alivehud/InventorySelection.cs
  code/ui/alivehud/InventorySelection.scss
  code/ui/alivehud/Nameplate.cs
  code/ui/alivehud/Nameplate.scss
  code/ui/alivehud/PlayerInfo.cs
  code/ui/alivehud/PlayerInfo.scss
  code/ui/alivehud/QuickShop.cs
  code/ui/alivehud/QuickShop.scss
  code/ui/generalhud/ChatBox.cs
  code/ui/generalhud/ChatBox.scss
  code/ui/generalhud/ChatEntry.cs
  code/ui/generalhud/GameTimer.cs
  code/ui/generalhud/GameTimer.scss
  code/ui/generalhud/InfoFeed.cs
  code/ui/generalhud/InfoFeed.scss
  code/ui/generalhud/InfoFeedEntry.cs
  code/ui/generalhud/PostRoundMenu.cs
  code/ui/generalhud/PostRoundMenu.scss
  code/ui/generalhud/Scoreboard.cs
  code/ui/generalhud/Scoreboard.scss
  code/ui/generalhud/ScoreboardEntry.cs
Labels: area/meta

#114 UI: Added voicechat and moved UI components into their own folders
  code/ui/Hud.cs
  code/ui/alivehud/damageindicator/DamageIndicator.cs
  code/ui/alivehud/damageindicator/DamageIndicator.scss
  code/ui/alivehud/drowningindicator/DrowningIndicator.cs
  code/ui/alivehud/drowningindicator/DrowningIndicator.scss
  code/ui/alivehud/effects/Effect.cs
  code/ui/alivehud/effects/Effects.cs
  code/ui/alivehud/effects/Effects.scss
  code/ui/alivehud/inspectmenu/InspectMenu.cs
  code/ui/alivehud/inspectmenu/InspectMenu.scss
  code/ui/alivehud/inventoryselection/InventorySelection.cs
  code/ui/alivehud/inventoryselection/InventorySelection.scss
  code/ui/alivehud/nameplate/Nameplate.cs
  code/ui/alivehud/nameplate/Nameplate.scss
  code/ui/alivehud/playerinfo/PlayerInfo.cs
  code/ui/alivehud/playerinfo/PlayerInfo.scss
  code/ui/alivehud/quickshop/QuickShop.cs
  code/ui/alivehud/quickshop/QuickShop.scss
  code/ui/generalhud/chat/ChatBox.cs
  code/ui/generalhud/chat/ChatBox.scss
  code/ui/generalhud/chat/ChatEntry.cs
  code/ui/generalhud/gametimer/GameTimer.cs
  code/ui/generalhud/gametimer/GameTimer.scss
  code/ui/generalhud/infofeed/InfoFeed.cs
  code/ui/generalhud/infofeed/InfoFeed.scss
  code/ui/generalhud/infofeed/InfoFeedEntry.cs
  code/ui/generalhud/postroundmenu/PostRoundMenu.cs
  code/ui/generalhud/postroundmenu/PostRoundMenu.scss
  code/ui/generalhud/scoreboard/Scoreboard.cs
  code/ui/generalhud/scoreboard/Scoreboard.scss
  code/ui/generalhud/scoreboard/ScoreboardEntry.cs
  code/ui/generalhud/voicechat/VoiceEntry.cs
  code/ui/generalhud/voicechat/VoiceList.cs
  code/ui/generalhud/voicechat/VoiceList.scss
Labels: area/UI, area/meta

#104 MagnetoStick: Fix rope behavior (not visual)
  code/items/equipments/MagnetoStick.cs
  code/player/PlayerCorpse.cs
Labels: area/code

#116 Fea: Add freecam and third person camera
  code/player/TTTPlayer.cs
  code/player/camera/FreeSpectateCamera.cs
  code/player/camera/SpectateCamera.cs
  code/player/camera/ThirdPersonSpectateCamera.cs
Labels: area/code, issue/feature-request

#113 UI: Added Spectator UI panel
  code/player/camera/ThirdPersonSpectateCamera.cs
  code/ui/Hud.cs
  code/ui/deadhud/SpectatedPlayerInfo.cs
  code/ui/deadhud/SpectatedPlayerInfo.scss
Labels: area/UI

#131 Prediction: Removed useless Prediction.Off in weapons
  code/items/weapons/Knife.cs
  code/items/weapons/Pistol.cs
  code/items/weapons/SMG.cs
  code/items/weapons/Shotgun.cs
  code/items/weapons/TTTWeapon.cs
Labels: type/bug

#115 UI: Added `VoiceChat` and `TeamVoiceChat`
  code/gamemode/Game.cs
  code/player/TTTPlayer.VoiceChat.cs
  code/player/TTTPlayer.cs
  code/roles/InnocentRole.cs
  code/roles/NoneRole.cs
  code/roles/TTTRole.cs
  code/roles/TraitorRole.cs
  code/ui/alivehud/quickshop/QuickShop.cs
  code/ui/generalhud/voicechat/VoiceEntry.cs
  code/ui/generalhud/voicechat/VoiceList.cs
  code/ui/generalhud/voicechat/VoiceList.scss
Labels: area/UI, area/code, issue/feature-request

#130 Team: Rework to work with class based Teams instead of strings
  code/global/RPCs.cs
  code/player/TTTPlayer.Roles.cs
  code/player/TTTPlayer.VoiceChat.cs
  code/roles/InnocentRole.cs
  code/roles/NoneRole.cs
  code/roles/TTTRole.cs
  code/roles/TraitorRole.cs
  code/rounds/InProgressRound.cs
  code/teams/InnocentTeam.cs
  code/teams/NoneTeam.cs
  code/teams/TTTTeam.cs
  code/teams/TraitorTeam.cs
Labels: area/code

#133 Feature/inventory system
  code/items/IBuyableItem.cs
  code/items/ICarriableItem.cs
  code/items/equipments/TTTEquipment.cs
  code/items/weapons/AmmoType.cs
  code/items/weapons/Knife.cs
  code/items/weapons/Pistol.cs
  code/items/weapons/SMG.cs
  code/items/weapons/Shotgun.cs
  code/items/weapons/TTTWeapon.cs
  code/player/Inventory.cs
  code/rounds/InProgressRound.cs
  code/ui/alivehud/inventoryselection/InventorySelection.cs
Labels: area/code, area/meta, issue/feature-request

#135 Bug: Fix spectating hud, default to freecam on spectating spawn
  code/player/TTTPlayer.cs
  code/rounds/InProgressRound.cs
  code/rounds/PostRound.cs
  code/rounds/PreRound.cs
  code/rounds/WaitingRound.cs
  code/ui/deadhud/SpectatedPlayerInfo.cs
  code/ui/deadhud/SpectatedPlayerInfo.scss
Labels: area/code, type/bug

#132 UI: Inventory and Chat rework
  code/items/perks/TTTPerk.cs
  code/player/Inventory.cs
  code/ui/Hud.cs
  code/ui/alivehud/inventorywrapper/InventoryWrapper.cs
  code/ui/alivehud/inventorywrapper/InventoryWrapper.scss
  code/ui/alivehud/inventorywrapper/effects/Effect.cs
  code/ui/alivehud/inventorywrapper/effects/Effects.cs
  code/ui/alivehud/inventorywrapper/effects/Effects.scss
  code/ui/alivehud/inventorywrapper/inventoryselection/InventorySelection.cs
  code/ui/alivehud/inventorywrapper/inventoryselection/InventorySelection.scss
  code/ui/generalhud/chat/ChatBox.cs
  code/ui/generalhud/chat/ChatBox.scss
  code/ui/generalhud/chat/ChatEntry.cs
Labels: area/UI, type/enhancement

#52 Add a temporary post round screen
  code/ui/generalhud/postroundmenu/PostRoundMenu.cs
  code/ui/generalhud/postroundmenu/PostRoundMenu.scss
Labels: area/UI

#136 Chat polish
  code/items/perks/radar/RadarPoint.scss
  code/ui/alivehud/inventorywrapper/effects/Effects.scss
  code/ui/generalhud/chat/ChatBox.scss
  code/ui/generalhud/voicechat/VoiceEntry.cs
  code/ui/generalhud/voicechat/VoiceList.scss
Labels: area/UI

#137 Chat: Added TeamChat
  code/player/TTTPlayer.VoiceChat.cs
  code/ui/generalhud/chat/ChatBox.cs
Labels: area/UI, area/code, issue/feature-request

#143 UI: Spectator UI refactor
  code/global/RPCs.cs
  code/global/Utils.cs
  code/player/Inventory.cs
  code/player/TTTPlayer.Confirmation.cs
  code/player/TTTPlayer.cs
  code/player/camera/ThirdPersonSpectateCamera.cs
  code/ui/Hud.cs
  code/ui/ObservablePanel.cs
  code/ui/generalhud/inventorywrapper/inventoryselection/InventorySelection.cs
  code/ui/generalhud/nameplate/Nameplate.cs
  code/ui/generalhud/playerinfo/PlayerInfo.cs
  code/ui/generalhud/playerinfo/PlayerInfo.scss
Labels: area/code

#140 UI: Support both alive & spectating players in UI
  code/global/RPCs.cs
  code/global/Utils.cs
  code/items/perks/TTTPerk.cs
  code/player/Inventory.cs
  code/player/TTTPlayer.Confirmation.cs
  code/player/TTTPlayer.RPCs.cs
  code/player/TTTPlayer.cs
  code/player/camera/FreeSpectateCamera.cs
  code/player/camera/ThirdPersonSpectateCamera.cs
  code/ui/Hud.cs
  code/ui/deadhud/SpectatedPlayerInfo.cs
  code/ui/deadhud/SpectatedPlayerInfo.scss
  code/ui/generalhud/inspectmenu/InspectMenu.cs
  code/ui/generalhud/inspectmenu/InspectMenu.scss
  code/ui/generalhud/inventorywrapper/InventoryWrapper.cs
  code/ui/generalhud/inventorywrapper/InventoryWrapper.scss
  code/ui/generalhud/inventorywrapper/effects/Effect.cs
  code/ui/generalhud/inventorywrapper/effects/Effects.cs
  code/ui/generalhud/inventorywrapper/effects/Effects.scss
  code/ui/generalhud/inventorywrapper/inventoryselection/InventorySelection.cs
  code/ui/generalhud/inventorywrapper/inventoryselection/InventorySelection.scss
  code/ui/generalhud/nameplate/Nameplate.cs
  code/ui/generalhud/nameplate/Nameplate.scss
  code/ui/generalhud/playerinfo/PlayerInfo.cs
  code/ui/generalhud/playerinfo/PlayerInfo.scss
  code/ui/generalhud/scoreboard/Scoreboard.cs
Labels: area/UI, area/code

#144 Scoreboard: Rework and MIA/Dead re-positioning fix
  code/ui/generalhud/scoreboard/Scoreboard.Header.cs
  code/ui/generalhud/scoreboard/Scoreboard.ScoreboardGroup.cs
  code/ui/generalhud/scoreboard/Scoreboard.TableHeader.cs
  code/ui/generalhud/scoreboard/Scoreboard.cs
Labels: area/code

#138 Spectator: Added first person spectator camera
  code/player/PlayerCorpse.cs
  code/player/TTTPlayer.Confirmation.cs
  code/player/TTTPlayer.Flashlight.cs
  code/player/TTTPlayer.Lookup.cs
  code/player/TTTPlayer.Spectating.cs
  code/player/TTTPlayer.cs
  code/player/camera/FirstPersonSpectatorCamera.cs
  code/player/camera/FreeSpectateCamera.cs
  code/player/camera/IObservationCamera.cs
  code/player/camera/RagdollSpectateCamera.cs
  code/player/camera/ThirdPersonSpectateCamera.cs
  code/ui/generalhud/nameplate/Nameplate.cs
Labels: area/code, area/meta, issue/feature-request

#145 Fix: `Player.IsLookingAtType<T>()` (no spectating support)
  code/player/TTTPlayer.Lookup.cs
  code/player/TTTPlayer.Spectating.cs
  code/player/TTTPlayer.cs
Labels: type/bug

#134 InspectMenu: Added data
  code/global/RPCs.cs
  code/global/Utils.cs
  code/player/PlayerCorpse.cs
  code/player/TTTPlayer.Confirmation.cs
  code/player/TTTPlayer.Damage.cs
  code/ui/generalhud/inspectmenu/InspectMenu.cs
  code/ui/generalhud/inspectmenu/InspectMenu.scss
  particles/rope.vpcf_c
  ui/inspectmenu/distance.png
  ui/inspectmenu/headshot.png
  ui/inspectmenu/time.png
  ui/weapons/ttt_pistol.png
  ui/weapons/ttt_shotgun.png
  ui/weapons/ttt_smg.png
Labels: area/UI, area/code

#150 VoiceChat: Added key binding support to TeamVoiceChat
  code/player/TTTPlayer.VoiceChat.cs
Labels: area/code, type/enhancement

#151 Cleanup: Small cleanup
  code/player/TTTPlayer.Confirmation.cs
  code/player/camera/FirstPersonSpectatorCamera.cs
  code/player/camera/ThirdPersonSpectateCamera.cs
  code/ui/Hud.cs
  code/ui/generalhud/inspectmenu/InspectMenu.cs
Labels: area/code

#153 Fix: Distance and Suicide confirmation data fix
  code/player/PlayerCorpse.cs
Labels: area/code, type/bug

#154 Fix: Postround sync
  code/global/RPCs.cs
  code/player/PlayerCorpse.cs
  code/player/TTTPlayer.Confirmation.cs
  code/player/TTTPlayer.cs
  code/rounds/PostRound.cs
  code/ui/generalhud/inspectmenu/InspectMenu.cs
  code/ui/generalhud/scoreboard/Scoreboard.cs
  code/ui/generalhud/scoreboard/ScoreboardEntry.cs
Labels: area/code, type/bug

#159 Fix: InventorySelection spamming error
  code/ui/generalhud/inventorywrapper/inventoryselection/InventorySelection.cs
Labels: area/code, type/bug

#156 Spectator: Added `ttt_forcespec`, ForcedSpectators, Spectator scoreboard group; Scoreboard and Respawn fixes
  code/player/TTTPlayer.Commands.cs
  code/player/TTTPlayer.cs
  code/rounds/BaseRound.cs
  code/rounds/InProgressRound.cs
  code/rounds/PostRound.cs
  code/rounds/PreRound.cs
  code/ui/alivehud/quickshop/QuickShop.cs
  code/ui/generalhud/scoreboard/Scoreboard.ScoreboardGroup.cs
  code/ui/generalhud/scoreboard/Scoreboard.cs
  code/ui/generalhud/scoreboard/Scoreboard.scss
Labels: area/code, type/bug

#164 Fix third person hold types
  code/items/weapons/SMG.cs
  code/items/weapons/Shotgun.cs
Labels: area/code
