Repository TTTReborn/tttreborn, pull requests merged in 2021-08, with the labels that each got.

#166 UI: Added `DraggableHeader`, `ResizeablePanel` and a basic menu
  code/player/TTTPlayer.Commands.Client.cs
  code/player/TTTPlayer.Commands.Server.cs
  code/ui/Hud.cs
  code/ui/generalhud/menu/Menu.cs
  code/ui/generalhud/menu/Menu.scss
  code/ui/panelheader/DraggableHeader.cs
  code/ui/panelheader/DraggableHeader.scss
  code/ui/panelheader/PanelHeader.cs
  code/ui/panelheader/PanelHeader.scss
  code/ui/richpanel/RichPanel.Resizeable.cs
  code/ui/richpanel/RichPanel.cs
  code/ui/richpanel/RichPanel.scss
  code/ui/tttpanel/TTTPanel.cs
Labels: area/UI, area/code, type/enhancement

#170 UI Menu: Added `PanelContent` and dummy data
  code/player/TTTPlayer.Commands.Client.cs
  code/ui/Hud.cs
  code/ui/generalhud/menu/Menu.cs
  code/ui/generalhud/menu/Menu.scss
  code/ui/generalhud/menu/MenuHeader.cs
  code/ui/generalhud/menu/MenuHeader.scss
  code/ui/panelcontent/PanelContent.cs
  code/ui/panelheader/DraggableHeader.cs
  code/ui/panelheader/PanelHeader.cs
  code/ui/richpanel/RichPanel.Resizeable.cs
Labels: area/UI, area/code, type/enhancement

#171 Menu UI: Added homebutton
  code/ui/generalhud/menu/Menu.cs
  code/ui/generalhud/menu/Menu.scss
  code/ui/generalhud/menu/MenuHeader.cs
  code/ui/generalhud/menu/MenuHeader.scss
Labels: area/UI, area/code

#172 Fix: Use hitboxes when looking at entities
  code/player/TTTPlayer.Lookup.cs
Labels: area/code, type/bug

#174 UI Components: Added switch component
  code/global/Utils.cs
  code/ui/components/dragdrop/Drag.cs
  code/ui/components/dragdrop/Drag.scss
  code/ui/components/dragdrop/DragDrop.cs
  code/ui/components/dragdrop/Drop.cs
  code/ui/components/dragdrop/Drop.scss
  code/ui/components/switch/Switch.cs
  code/ui/components/switch/Switch.scss
  code/ui/generalhud/menu/Menu.cs
  code/ui/generalhud/menu/Menu.scss
  code/ui/generalhud/menu/MenuHeader.cs
  code/ui/generalhud/menu/MenuHeader.scss
  code/ui/panelcontent/PanelContent.cs
  code/ui/panelheader/DraggableHeader.cs
  code/ui/panelheader/DraggableHeader.scss
  code/ui/panelheader/PanelHeader.cs
  code/ui/richpanel/RichPanel.Resizeable.cs
  code/ui/tttpanel/TTTPanel.cs
Labels: area/UI, area/code, issue/feature-request

#167 Rework ammo inventory
  code/items/ammo/BuckshotAmmo.cs
  code/items/ammo/PistolAmmo.cs
  code/items/ammo/SMGAmmo.cs
  code/items/ammo/TTTAmmo.cs
  code/items/ammo/TTTAmmoRandom.cs
  code/items/weapons/AmmoType.cs
  code/items/weapons/SMG.cs
  code/items/weapons/Shotgun.cs
  code/items/weapons/TTTWeapon.cs
  code/items/weapons/TTTWeaponRandom.cs
  code/player/Inventory.Ammo.cs
  code/player/Inventory.cs
  code/player/TTTPlayer.RPCs.cs
  code/rounds/InProgressRound.cs
  code/rounds/PreRound.cs
  materials/ammo/9mmbox.vmat
  materials/ammo/9mmbox.vmat_c
  materials/ammo/9mmhandles.vmat
  materials/ammo/9mmhandles.vmat_c
  materials/ammo/shotgunbox.vmat
  materials/ammo/shotgunbox.vmat_c
  materials/ammo/shotgunshells.vmat
  materials/ammo/shotgunshells.vmat_c
  materials/ammo/smgbox.vmat
  materials/ammo/smgbox.vmat_c
  materials/ammo/smghandles.vmat
  materials/ammo/smghandles.vmat_c
  models/ammo/ammo_9mm.fbx
  models/ammo/ammo_9mm.vmdl
  models/ammo/ammo_9mm.vmdl_c
  models/ammo/ammo_buckshot.fbx
  models/ammo/ammo_buckshot.vmdl
  models/ammo/ammo_buckshot.vmdl_c
  models/ammo/ammo_smg.fbx
  models/ammo/ammo_smg.vmdl
  models/ammo/ammo_smg.vmdl_c
Labels: area/code, issue/feature-request

#178 Core: Added translation system
  code/gamemode/Game.cs
  code/lang/Language.cs
  code/lang/TTTLanguage.cs
  code/lang/packs/en-US.json
  code/lang/packs/ru-RU.json
  code/player/TTTPlayer.Commands.Client.cs
  code/roles/TTTRole.cs
  code/ui/components/dragdrop/Drag.cs
  code/ui/components/dragdrop/Drop.cs
  code/ui/components/translationlabel/TranslationLabel.cs
  code/ui/generalhud/gametimer/GameTimer.cs
  code/ui/generalhud/gametimer/GameTimer.scss
  code/ui/generalhud/inspectmenu/InspectMenu.cs
  code/ui/generalhud/nameplate/Nameplate.cs
  code/ui/generalhud/playerinfo/PlayerInfo.cs
  code/ui/generalhud/playerinfo/PlayerInfo.scss
  code/ui/generalhud/postroundmenu/PostRoundMenu.cs
Labels: area/code, issue/feature-request

#139 Code Refactoring: Simplified structure and calls
  code/gamemode/Game.cs
  code/global/Utils.cs
  code/items/IBuyableItem.cs
  code/items/ammo/TTTAmmo.cs
  code/items/ammo/TTTAmmoRandom.cs
  code/items/equipments/MagnetoStick.cs
  code/items/perks/TTTPerk.cs
  code/items/perks/Test1.cs
  code/items/perks/radar/RadarPoint.cs
  code/items/weapons/TTTWeapon.cs
  code/lang/Language.cs
  code/lang/TTTLanguage.cs
  code/player/Inventory.cs
  code/player/PlayerCorpse.cs
  code/player/TTTPlayer.Clothes.cs
  code/player/TTTPlayer.Flashlight.cs
  code/player/TTTPlayer.Shop.cs
  code/player/TTTPlayer.VoiceChat.cs
  code/player/TTTPlayer.cs
  code/rounds/InProgressRound.cs
  code/rounds/WaitingRound.cs
  code/ui/Hud.cs
  code/ui/alivehud/drowningindicator/DrowningIndicator.cs
  code/ui/alivehud/quickshop/QuickShop.cs
  code/ui/components/translationlabel/TranslationLabel.cs
  code/ui/generalhud/chat/ChatBox.cs
  code/ui/generalhud/chat/ChatEntry.cs
  code/ui/generalhud/gametimer/GameTimer.cs
  code/ui/generalhud/inventorywrapper/inventoryselection/InventorySelection.cs
  code/ui/generalhud/scoreboard/Scoreboard.cs
  code/ui/generalhud/voicechat/VoiceEntry.cs
Labels: area/meta, area/code

#177 Added `Dropdown`, `Modal`, `DialogBox`, `Keybind` and `FileSelection` UI component
  code/ui/components/dragdrop/Drag.cs
  code/ui/components/dragdrop/Drag.scss
  code/ui/components/dropdown/Dropdown.cs
  code/ui/components/dropdown/Dropdown.scss
  code/ui/components/dropdown/DropdownOption.cs
  code/ui/components/keybind/Keybind.cs
  code/ui/components/keybind/Keybind.scss
  code/ui/components/modal/Modal.cs
  code/ui/components/modal/dialogbox/DialogBox.cs
  code/ui/components/modal/dialogbox/DialogBox.scss
  code/ui/components/modal/fileselection/FileSelection.cs
  code/ui/components/modal/fileselection/FileSelection.scss
  code/ui/components/modal/fileselection/FileSelectionEntry.cs
  code/ui/components/switch/Switch.cs
  code/ui/generalhud/menu/Menu.cs
  code/ui/generalhud/menu/Menu.scss
  code/ui/richpanel/RichPanel.Resizeable.cs
  code/ui/tttpanel/TTTPanel.cs
Labels: area/UI, area/code, issue/feature-request

#184 Fixed `FileSelection` back- and forward bug with buggy folder path
  code/ui/components/modal/fileselection/FileSelection.cs
Labels: area/UI, area/code, issue/feature-request

#183 Fixes: Mark methods as public
  code/lang/Language.cs
  code/lang/TTTLanguage.cs
  code/player/TTTPlayer.Shop.cs
  code/ui/components/translationlabel/TranslationLabel.cs
Labels: type/bug, area/code

#187 UI: Added `Tabs` UI component
  code/ui/components/dragdrop/Drag.cs
  code/ui/components/dragdrop/Drag.scss
  code/ui/components/dropdown/Dropdown.cs
  code/ui/components/tabs/Tab.cs
  code/ui/components/tabs/Tabs.cs
  code/ui/components/tabs/Tabs.scss
  code/ui/generalhud/menu/Menu.cs
  code/ui/generalhud/menu/Menu.scss
  code/ui/generalhud/nameplate/Nameplate.cs
  code/ui/tttpanel/TTTPanel.cs
Labels: area/UI, area/code, issue/feature-request

#189 Core: Added SettingsSystem
  code/gamemode/Game.cs
  code/items/IBuyableItem.cs
  code/lang/TTTLanguage.cs
  code/player/TTTPlayer.Commands.Client.cs
  code/player/TTTPlayer.Commands.Server.cs
  code/player/TTTPlayer.Roles.cs
  code/player/TTTPlayer.Shop.cs
  code/player/TTTPlayer.Spectating.cs
  code/player/TTTPlayer.VoiceChat.cs
  code/player/TTTPlayer.cs
  code/player/controller/DefaultWalkController.cs
  code/settings/Settings.cs
  code/ui/Hud.cs
  code/ui/alivehud/damageindicator/DamageIndicator.cs
  code/ui/alivehud/drowningindicator/DrowningIndicator.cs
  code/ui/alivehud/quickshop/QuickShop.Content.cs
  code/ui/alivehud/quickshop/QuickShop.Footer.cs
  code/ui/alivehud/quickshop/QuickShop.Header.cs
  code/ui/alivehud/quickshop/QuickShop.cs
  code/ui/components/keybind/Keybind.cs
  code/ui/components/modal/dialogbox/DialogBox.cs
  code/ui/components/modal/fileselection/FileSelection.cs
  code/ui/components/modal/fileselection/FileSelection.scss
  code/ui/components/translationlabel/TranslationLabel.cs
  code/ui/generalhud/menu/Menu.cs
  code/ui/generalhud/menu/Menu.scss
Labels: area/code, issue/feature-request

#197 Fix: Scoreboard cut off when player count is high
  code/ui/generalhud/scoreboard/Scoreboard.scss
Labels: type/bug, area/UI

#194 FEA: Override inventory property on player
  code/items/IBuyableItem.cs
  code/items/perks/radar/Radar.cs
  code/items/weapons/Shotgun.cs
  code/items/weapons/TTTWeapon.cs
  code/player/Inventory.Ammo.cs
  code/player/Inventory.Perks.cs
  code/player/Inventory.cs
  code/player/TTTPlayer.Confirmation.cs
  code/player/TTTPlayer.RPCs.cs
  code/player/TTTPlayer.cs
  code/rounds/InProgressRound.cs
  code/ui/generalhud/inventorywrapper/effects/Effects.cs
  code/ui/generalhud/inventorywrapper/inventoryselection/InventorySelection.cs
Labels: area/code

#198 Magneto stick: Rope fix
  code/items/equipments/MagnetoStick.cs
  code/player/PlayerCorpse.cs
  particles/rope.vpcf_c
Labels: type/bug, area/code

#190 Core / Settings: Improved settings loading / saving and the integration
  code/gamemode/Game.ConVars.cs
  code/gamemode/Game.Settings.cs
  code/gamemode/Game.cs
  code/global/RPCs.cs
  code/global/Utils.cs
  code/lang/TTTLanguage.cs
  code/player/controller/DefaultWalkController.cs
  code/rounds/InProgressRound.cs
  code/rounds/PostRound.cs
  code/rounds/PreRound.cs
  code/settings/Settings.cs
  code/ui/alivehud/damageindicator/DamageIndicator.cs
  code/ui/alivehud/drowningindicator/DrowningIndicator.cs
  code/ui/alivehud/quickshop/QuickShop.Header.cs
  code/ui/components/dropdown/Dropdown.cs
  code/ui/components/dropdown/Dropdown.scss
  code/ui/components/dropdown/DropdownOption.cs
  code/ui/components/dropdown/DropdownOptionHolder.cs
  code/ui/components/dropdown/DropdownOptionHolder.scss
  code/ui/components/modal/Modal.cs
  code/ui/components/modal/fileselection/FileSelection.cs
  code/ui/components/switch/Switch.cs
  code/ui/components/tabs/Tab.cs
  code/ui/components/tabs/Tabs.cs
  code/ui/components/tooltip/Tooltip.cs
  code/ui/components/tooltip/Tooltip.scss
  code/ui/generalhud/inspectmenu/InspectMenu.cs
  code/ui/generalhud/inventorywrapper/effects/Effect.cs
  code/ui/generalhud/menu/Menu.Settings.Buttons.cs
  code/ui/generalhud/menu/Menu.Settings.Client.cs
  code/ui/generalhud/menu/Menu.Settings.Server.cs
  code/ui/generalhud/menu/Menu.Settings.cs
  code/ui/generalhud/menu/Menu.cs
  code/ui/generalhud/menu/Menu.scss
  code/ui/generalhud/playerinfo/PlayerInfo.cs
  code/ui/generalhud/scoreboard/Scoreboard.TableHeader.cs
  code/ui/richpanel/RichPanel.Resizeable.cs
Labels: area/code, issue/feature-request

#6 Meta: Add LICENSE
  LICENSE
Labels: area/meta

#211 Add slider component
  code/ui/components/slider/Slider.cs
  code/ui/components/slider/Slider.scss
Labels: type/enhancement, area/UI

#213 Add entity hint system
  code/player/PlayerCorpse.cs
  code/player/TTTPlayer.Hints.cs
  code/player/TTTPlayer.Nameplate.cs
  code/player/TTTPlayer.cs
  code/ui/Hud.cs
  code/ui/generalhud/entityhint/EntityHintPanel.cs
  code/ui/generalhud/entityhint/EntityHintPanel.scss
  code/ui/generalhud/entityhint/IEntityHint.cs
  code/ui/generalhud/inspectmenu/InspectMenu.cs
  code/ui/generalhud/nameplate/Nameplate.cs
Labels: type/enhancement, area/UI, area/code

#206 Newton launcher + crosshair support for chargeable weapons
  code/items/weapons/NewtonLauncher.cs
  code/items/weapons/TTTWeapon.cs
  code/ui/Crosshair.cs
  code/ui/Crosshair.scss
  ui/weapons/ttt_newton_launcher.png
Labels: area/code
