Repository TTTReborn/tttreborn, pull requests merged in 2021-10, with the labels that each got.

#234 Do not use magic strings for events.
  code/events/TTTEvent.Player.cs
  code/events/TTTEvent.Settings.cs
  code/events/TTTEvent.Shop.cs
  code/global/RPCs.cs
  code/lang/TTTLanguage.cs
  code/player/TTTPlayer.Damage.cs
  code/player/TTTPlayer.RPCs.cs
  code/player/TTTPlayer.Shop.cs
  code/player/TTTPlayer.Spectating.cs
  code/player/TTTPlayer.VoiceChat.cs
  code/player/TTTPlayer.cs
  code/player/controller/DefaultWalkController.cs
  code/roles/TTTRole.cs
  code/settings/Settings.cs
  code/ui/Hud.cs
  code/ui/alivehud/damageindicator/DamageIndicator.cs
  code/ui/alivehud/quickshop/QuickShop.cs
  code/ui/generalhud/inventorywrapper/inventoryselection/InventorySelection.cs
  code/ui/generalhud/scoreboard/Scoreboard.cs
Labels: type/enhancement, good first issue, area/code

#240 Settings: Added partial settings syncing
  code/settings/Settings.cs
  code/ui/generalhud/menu/Menu.Settings.Server.cs
  code/ui/generalhud/menu/Menu.Settings.cs
Labels: type/enhancement, area/code

#243 Scoreboard: Fixed scoreboard and removed obsolete functions
  code/events/TTTEvent.Player.cs
  code/gamemode/Game.cs
  code/gamemode/Karma.cs
  code/global/RPCs.cs
  code/items/equipments/MagnetoStick.cs
  code/player/TTTPlayer.AFK.cs
  code/player/TTTPlayer.Commands.Server.cs
  code/player/TTTPlayer.RPCs.cs
  code/player/TTTPlayer.Shop.cs
  code/player/TTTPlayer.Spectating.cs
  code/player/TTTPlayer.VoiceChat.cs
  code/player/TTTPlayer.cs
  code/rounds/InProgressRound.cs
  code/teams/TTTTeam.cs
  code/ui/generalhud/chat/ChatBox.cs
  code/ui/generalhud/inspectmenu/InspectMenu.cs
  code/ui/generalhud/nameplate/Nameplate.cs
  code/ui/generalhud/scoreboard/Scoreboard.cs
  code/ui/generalhud/scoreboard/ScoreboardEntry.cs
  code/ui/generalhud/scoreboard/ScoreboardGroup.cs
Labels: type/bug, area/code

#231 Add overridable hint distance
  code/player/PlayerCorpse.cs
  code/player/TTTPlayer.Hints.cs
  code/player/TTTPlayer.Nameplate.cs
  code/ui/generalhud/entityhint/IEntityHint.cs
Labels: type/bug, area/code

#244 Scoreboard: Minor refactors
  code/events/TTTEvent.Player.cs
  code/gamemode/Game.cs
  code/global/RPCs.cs
  code/ui/generalhud/scoreboard/Scoreboard.cs
Labels: type/enhancement, area/code

#241 Shop: Added ShopManager, auto-detect new items
  code/gamemode/Game.cs
  code/items/ammo/BuckshotAmmo.cs
  code/items/ammo/PistolAmmo.cs
  code/items/ammo/SMGAmmo.cs
  code/items/ammo/TTTAmmo.cs
  code/player/TTTPlayer.Shop.cs
  code/player/shop/Shop.cs
  code/player/shop/ShopManager.cs
  code/roles/TTTRole.cs
  code/roles/TraitorRole.cs
Labels: type/enhancement, area/UI, area/code

#245 Fix: Use trace end vector instead of entity vector
  code/player/PlayerCorpse.cs
  code/player/TTTPlayer.Hints.cs
Labels: type/bug, area/code

#246 Replaced "is null" Type Checking with "== null" (#192)
  .editorconfig
  code/lang/Language.cs
  code/lang/TTTLanguage.cs
  code/settings/Settings.cs
  code/ui/components/dropdown/Dropdown.cs
  code/ui/components/modal/fileselection/FileSelection.cs
Labels: area/meta, area/code

#300 Meta: Removed Test1 perk
  code/items/perks/Test1.cs
Labels: area/meta

#299 UI: Added globalization to quickshop placeholder
  code/lang/packs/de-DE.json
  code/lang/packs/en-US.json
  code/ui/alivehud/quickshop/QuickShop.cs
Labels: type/enhancement, area/UI

#298 UI: Removed `Style.Dirty()` calls as they aren't necessary anymore
  code/items/perks/radar/RadarPoint.cs
  code/map/RoleButton/RoleButtonPoint.cs
  code/ui/Crosshair.cs
  code/ui/alivehud/breathindicator/BreathIndicator.cs
  code/ui/alivehud/damageindicator/DamageIndicator.cs
  code/ui/alivehud/quickshop/QuickShopItem.cs
  code/ui/alivehud/staminaindicator/StaminaIndicator.cs
  code/ui/components/dragdrop/Drag.cs
  code/ui/components/dropdown/DropdownOptionHolder.cs
  code/ui/components/slider/Slider.cs
  code/ui/components/tooltip/Tooltip.cs
  code/ui/generalhud/chat/ChatBox.cs
  code/ui/generalhud/infofeed/InfoFeed.cs
  code/ui/generalhud/inspectmenu/InspectEntry.cs
  code/ui/generalhud/inspectmenu/InspectMenu.cs
  code/ui/generalhud/nameplate/Nameplate.cs
  code/ui/generalhud/scoreboard/Scoreboard.cs
  code/ui/generalhud/scoreboard/ScoreboardEntry.cs
  code/ui/generalhud/voicechat/VoiceChatEntry.cs
  code/ui/richpanel/RichPanel.Resizeable.cs
  code/ui/visual-programming/WindowSidebar.cs
  code/ui/visual-programming/nodes/RoleSelectionNode.cs
  code/ui/visual-programming/nodes/node/Node.cs
  code/ui/visual-programming/nodes/node/NodeConnectionWire.cs
Labels: area/UI, issue/feature-request

#297 Precaching: Added all entities relevant precache data
  code/events/TTTEvent.Game.cs
  code/gamemode/Game.Precache.cs
  code/gamemode/Game.cs
  code/items/ammo/TTTAmmo.cs
  code/items/equipments/MagnetoStick.cs
  code/items/equipments/entities/C4Entity.cs
  code/items/equipments/entities/DecoyEntity.cs
  code/items/equipments/entities/HealthstationEntity.cs
  code/items/equipments/entities/PrecacheAttribute.cs
  code/items/equipments/entities/Prop.cs
  code/items/weapons/Knife.cs
  code/items/weapons/NewtonLauncher.cs
  code/items/weapons/Pistol.cs
  code/items/weapons/SMG.cs
  code/items/weapons/Shotgun.cs
  code/items/weapons/TTTWeapon.cs
  code/settings/Settings.Game.cs
Labels: type/enhancement, area/code

#296 PlayerController: Increased crouching move speed
  code/player/controller/DefaultWalkController.cs
  code/player/controller/Duck.cs
Labels: area/code, issue/feature-request

#295 Fixes: Changed `RoleButtons` into `LogicButtons` to support teams
  code/map/TTTForceWin.cs
  code/map/TTTLogicAssigned.cs
  code/map/TTTMapSettings.cs
  code/map/logicbutton/LogicButtonPoint.cs
  code/map/logicbutton/LogicButtonPoint.scss
  code/map/logicbutton/TTTLogicButton.cs
  code/player/TTTPlayer.RoleButtons.cs
  code/player/TTTPlayer.Roles.cs
  code/player/TTTPlayer.cs
  code/rounds/InProgressRound.cs
  code/rounds/PreRound.cs
Labels: type/enhancement, area/code

#303 Gameplay: Tweakings
  code/gamemode/Game.Precache.cs
  code/player/controller/DefaultWalkController.cs
  code/player/shop/Shop.cs
  code/roles/TTTRole.cs
  code/rounds/InProgressRound.cs
Labels: type/bug, type/enhancement, area/code

#301 Shop: Fix unlimited shop items and their prices
  code/events/TTTEvent.Game.cs
  code/gamemode/Game.cs
  code/items/ShopItemData.cs
  code/items/equipments/C4Equipment.cs
  code/items/equipments/DecoyEquipment.cs
  code/items/equipments/HealthStation.cs
  code/items/perks/BodyArmor.cs
  code/items/perks/radar/Radar.cs
  code/lang/packs/de-DE.json
  code/lang/packs/en-US.json
  code/map/TTTMapSettings.cs
  code/player/TTTPlayer.Commands.Server.cs
  code/player/TTTPlayer.Shop.cs
  code/player/shop/Shop.cs
  code/ui/alivehud/quickshop/QuickShop.cs
  code/ui/generalhud/menu/Menu.Settings.Client.cs
Labels: area/code

#304 Fixes: Fixed UI flickering bug, C4 randomness, precache and autoclose bug, added spawning ammo and tried to fix edge-case in voice chat
  code/gamemode/Game.cs
  code/items/ammo/BuckshotAmmo.cs
  code/items/ammo/PistolAmmo.cs
  code/items/ammo/SMGAmmo.cs
  code/items/equipments/entities/C4Entity.cs
  code/items/equipments/entities/Prop.cs
  code/player/TTTPlayer.cs
  code/rounds/PreRound.cs
  code/ui/alivehud/c4/C4Arm.cs
  code/ui/alivehud/c4/C4Arm.scss
  code/ui/alivehud/quickshop/QuickShop.scss
  code/ui/generalhud/menu/Menu.scss
  code/ui/generalhud/nameplate/Nameplate.cs
  code/ui/visual-programming/Window.cs
  code/ui/visual-programming/Window.scss
Labels: type/bug, area/UI, area/code

#306 Fix: Playermodel render bug
  code/gamemode/Game.cs
  code/global/RPCs.cs
  code/player/TTTPlayer.Confirmation.cs
  code/player/TTTPlayer.cs
  code/player/controller/DefaultWalkController.cs
  code/ui/Hud.cs
  code/ui/generalhud/scoreboard/Scoreboard.cs
Labels: type/bug, area/code, issue/bug-report

#307 FEA: Added debug mode, improved debug commands
  code/gamemode/Game.cs
  code/global/Log.cs
  code/lang/packs/de-DE.json
  code/lang/packs/en-US.json
  code/player/TTTPlayer.Commands.Server.cs
  code/rounds/InProgressRound.cs
  code/settings/Settings.Game.cs
  code/ui/generalhud/menu/Menu.Settings.Server.cs
Labels: area/code, issue/feature-request

#305 Flashlight: Improved Flashlight rendering and shadow issue
  code/items/equipments/TTTEquipment.cs
  code/items/weapons/TTTWeapon.cs
  code/player/TTTPlayer.Flashlight.cs
  code/player/TTTPlayer.cs
  code/ui/generalhud/scoreboard/Scoreboard.cs
Labels: area/code, issue/feature-request

#308 Fixes: C4, flashlight tweakings, and precache and implemented #256
  code/gamemode/Game.Precache.cs
  code/gamemode/Game.cs
  code/global/Utils.cs
  code/items/ammo/TTTAmmoRandom.cs
  code/items/equipments/entities/C4Entity.cs
  code/items/weapons/TTTWeaponRandom.cs
  code/player/TTTPlayer.Commands.Server.cs
  code/player/TTTPlayer.Flashlight.cs
  code/player/TTTPlayer.RPCs.cs
  code/rounds/InProgressRound.cs
  code/ui/alivehud/c4/C4Arm.cs
  code/visual-programming/nodes/PercentageSelectionStackNode.cs
Labels: type/bug, area/code

#287 FEA: Add hands
  code/global/Utils.cs
  code/items/equipments/Hands.GrabbableCorpse.cs
  code/items/equipments/Hands.GrabbableProp.cs
  code/items/equipments/Hands.cs
  code/items/equipments/MagnetoStick.cs
  code/lang/packs/en-US.json
  code/rounds/InProgressRound.cs
Labels: type/enhancement, area/code

#309 Map: Added `MapHandler` to reset the map
  code/gamemode/Game.cs
  code/map/MapHandler.cs
  code/rounds/PreRound.cs
Labels: area/code, issue/feature-request

#311 Dont allow picking up of non dynamic entities
  code/items/equipments/Hands.cs
Labels: type/bug, area/code

#313 Decrease health station mass, allow any weapons pickup
  code/items/equipments/Hands.cs
  models/entities/healthstation.vmdl
  models/entities/healthstation.vmdl_c
Labels: type/bug, area/code
