Repository TTTReborn/tttreborn, pull requests merged in 2021-09, with the labels that each got.

#214 Fix for #204 (Damage Overlay bugged)
  code/ui/Hud.cs
  code/ui/alivehud/damageindicator/DamageIndicator.cs
Labels: type/bug, area/UI

#217 Shop: Added `Shop` type, server to client shop syncing and shop settings
  code/global/Utils.cs
  code/items/IBuyableItem.cs
  code/items/equipments/MagnetoStick.cs
  code/player/TTTPlayer.Nameplate.cs
  code/player/TTTPlayer.Roles.cs
  code/player/TTTPlayer.Shop.cs
  code/player/camera/FirstPersonSpectatorCamera.cs
  code/roles/TTTRole.cs
  code/roles/TraitorRole.cs
  code/ui/alivehud/quickshop/QuickShop.Content.cs
  code/ui/alivehud/quickshop/QuickShop.Footer.cs
  code/ui/alivehud/quickshop/QuickShop.cs
Labels: type/enhancement, area/code

#222 Code Clean Up
  code/global/Utils.cs
  code/items/ammo/BuckshotAmmo.cs
  code/items/ammo/PistolAmmo.cs
  code/items/ammo/SMGAmmo.cs
  code/items/ammo/TTTAmmo.cs
  code/items/weapons/Knife.cs
  code/items/weapons/NewtonLauncher.cs
  code/items/weapons/Pistol.cs
  code/items/weapons/SMG.cs
  code/items/weapons/Shotgun.cs
  code/items/weapons/TTTWeapon.cs
  code/lang/TTTLanguage.cs
  code/player/Inventory.Ammo.cs
  code/player/Inventory.cs
  code/player/PlayerCorpse.cs
  code/player/TTTPlayer.Commands.Client.cs
  code/player/TTTPlayer.Confirmation.cs
  code/player/TTTPlayer.Roles.cs
  code/player/TTTPlayer.Shop.cs
  code/player/controller/DefaultWalkController.cs
  code/roles/InnocentRole.cs
  code/roles/NoneRole.cs
  code/roles/TTTRole.cs
  code/roles/TraitorRole.cs
  code/rounds/BaseRound.cs
  code/rounds/InProgressRound.cs
  code/rounds/PostRound.cs
  code/rounds/PreRound.cs
  code/settings/Settings.cs
  code/teams/InnocentTeam.cs
  code/teams/NoneTeam.cs
  code/teams/TraitorTeam.cs
  code/ui/alivehud/quickshop/QuickShop.cs
  code/ui/alivehud/quickshop/QuickShopItem.cs
  code/ui/components/dragdrop/Drag.cs
  code/ui/components/dragdrop/DragDrop.cs
  code/ui/components/tooltip/Tooltip.cs
  code/ui/generalhud/postroundmenu/PostRoundMenu.cs
Labels: type/enhancement, area/code

#221 Rework Sprinting & Drowning Implementation
  code/player/TTTPlayer.cs
  code/player/controller/DefaultWalkController.cs
  code/ui/Hud.cs
  code/ui/alivehud/breathindicator/BreathIndicator.cs
  code/ui/alivehud/breathindicator/BreathIndicator.scss
  code/ui/alivehud/drowningindicator/DrowningIndicator.cs
  code/ui/alivehud/drowningindicator/DrowningIndicator.scss
  code/ui/alivehud/quickshop/QuickShop.scss
  code/ui/alivehud/staminaindicator/StaminaIndicator.cs
  code/ui/alivehud/staminaindicator/StaminaIndicator.scss
Labels: type/enhancement, area/UI, area/code

#223 Bug #212
  code/ui/Crosshair.cs
  code/ui/Hud.cs
  code/ui/components/generic/Panel.scss
Labels: type/enhancement, area/UI, area/code

#229 Fix: Fixed inconsistencies, issues caused by sbox updates and mouse detection
  code/items/IBuyableItem.cs
  code/items/IItem.cs
  code/items/ammo/BuckshotAmmo.cs
  code/items/ammo/PistolAmmo.cs
  code/items/ammo/SMGAmmo.cs
  code/items/ammo/TTTAmmo.cs
  code/items/equipments/TTTEquipment.cs
  code/items/perks/TTTPerk.cs
  code/items/weapons/TTTWeapon.cs
  code/player/Inventory.Perks.cs
  code/player/TTTPlayer.Confirmation.cs
  code/ui/Hud.cs
  code/ui/alivehud/quickshop/QuickShopItem.cs
  code/ui/components/translationlabel/TranslationLabel.cs
  code/ui/generalhud/inspectmenu/InspectEntry.cs
  code/ui/generalhud/inspectmenu/InspectMenu.cs
  code/ui/generalhud/inventorywrapper/effects/Effect.cs
  code/ui/generalhud/inventorywrapper/effects/Effects.cs
  code/ui/generalhud/inventorywrapper/inventoryselection/InventorySelection.cs
  code/ui/generalhud/playerinfo/PlayerInfoDisplay.cs
Labels: type/bug

#230 Change round to use NetworkedComponent
  code/rounds/BaseRound.cs
Labels: type/bug

#210 Add Healthstation
  .editorconfig
  code/items/IBuyableItem.cs
  code/items/ICarriableItem.cs
  code/items/IItem.cs
  code/items/ammo/TTTAmmo.cs
  code/items/equipments/HealthStation.cs
  code/items/equipments/MagnetoStick.cs
  code/items/equipments/TTTEquipment.cs
  code/items/equipments/entities/HealthstationEntity.cs
  code/items/weapons/NewtonLauncher.cs
  code/items/weapons/TTTWeapon.cs
  code/lang/packs/en-US.json
  code/player/Inventory.cs
  code/player/PlayerCorpse.cs
  code/rounds/PreRound.cs
  code/ui/generalhud/hints/Hint.cs
  materials/entities/healthstation-base.vmat
  materials/entities/healthstation-base.vmat_c
  materials/entities/healthstation-decals.vmat
  materials/entities/healthstation-decals.vmat_c
  materials/entities/healthstation-handles.vmat
  materials/entities/healthstation-handles.vmat_c
  models/entities/healthstation.fbx
  models/entities/healthstation.vmdl
  models/entities/healthstation.vmdl_c
Labels: type/enhancement, area/code

#227 AFK System
  code/gamemode/Game.Settings.cs
  code/global/Utils.cs
  code/player/TTTPlayer.AFK.cs
  code/player/TTTPlayer.Commands.Server.cs
  code/player/TTTPlayer.Spectating.cs
  code/player/TTTPlayer.cs
  code/rounds/InProgressRound.cs
  code/ui/Hud.cs
  code/ui/components/generic/Panel.cs
  code/ui/generalhud/menu/Menu.Settings.Client.cs
  code/ui/generalhud/menu/Menu.Settings.Server.cs
  code/ui/generalhud/menu/Menu.cs
Labels: area/code, issue/feature-request

#232 Prevent dropping unlimited ammo.
  code/items/weapons/TTTWeapon.cs
Labels: type/bug, area/code

#233 Meta: Add generated shotgun and smg model files
  materials/ammo/shotgunbox.vmat_c
  materials/ammo/shotgunshells.vmat_c
  materials/ammo/smgbox.vmat_c
  materials/ammo/smghandles.vmat_c
  materials/default/default_color_tga_47b1af3d.vtex_c
  materials/default/default_normal_tga_7be61377.vtex_c
  models/ammo/ammo_buckshot.vmdl_c
  models/ammo/ammo_smg.vmdl_c
Labels: area/meta

#208 Add `ttt_map_settings`, `ttt_credit_adjust`, `ttt_feed_entry`, `ttt_force_win`, `ttt_logic_assigned`, `ttt_role_button` and round change event
  code/gamemode/Game.cs
  code/global/RPCs.cs
  code/global/Utils.cs
  code/map/RoleButton/RoleButtonPoint.cs
  code/map/RoleButton/RoleButtonPoint.scss
  code/map/RoleButton/TTTRoleButton.cs
  code/map/TTTCreditAdjust.cs
  code/map/TTTFeedEntry.cs
  code/map/TTTForceWin.cs
  code/map/TTTLogicAssigned.cs
  code/map/TTTMapSettings.cs
  code/player/TTTPlayer.RoleButtons.cs
  code/rounds/InProgressRound.cs
  code/rounds/PreRound.cs
  code/teams/TTTTeam.cs
  code/ui/generalhud/infofeed/InfoFeed.cs
  code/ui/generalhud/menu/Menu.cs
Labels: type/enhancement, area/UI, area/code

#237 Ignore s&box build files.
  .gitignore
Labels: type/bug, area/code

#236 Fix: Fixed FileSelection and replaced deprecated network classes
  code/gamemode/Karma.cs
  code/rounds/BaseRound.cs
  code/ui/Hud.cs
  code/ui/alivehud/quickshop/QuickShop.cs
  code/ui/components/modal/Modal.cs
  code/ui/components/modal/fileselection/FileSelection.scss
  code/ui/generalhud/inspectmenu/InspectMenu.cs
  code/ui/generalhud/scoreboard/Scoreboard.cs
Labels: type/bug, area/code
