Repository TTTReborn/tttreborn, pull requests merged in 2021-11, with the labels that each got.

#322 Null reference hand fix
  code/items/equipments/Hands.cs
Labels: type/bug, area/code

#279 FEA: Allow hint panel to update on each tick
  code/items/equipments/entities/C4Entity.cs
  code/items/equipments/entities/HealthstationEntity.cs
  code/lang/packs/en-US.json
  code/player/PlayerCorpse.cs
  code/player/TTTPlayer.Hints.cs
  code/ui/generalhud/entityhint/EntityHintPanel.cs
  code/ui/generalhud/entityhint/IEntityHint.cs
  code/ui/generalhud/hints/Hint.cs
  code/ui/generalhud/nameplate/Nameplate.cs
Labels: type/enhancement, area/UI, area/code

#323 Settings: Added auto-generated settings
  code/global/Utils.cs
  code/lang/TTTLanguage.cs
  code/lang/packs/de-DE.json
  code/lang/packs/en-US.json
  code/lang/packs/it-IT.json
  code/lang/packs/ru-RU.json
  code/player/controller/DefaultWalkController.cs
  code/settings/Settings.Attributes.cs
  code/settings/Settings.Game.cs
  code/ui/generalhud/menu/Menu.Settings.Client.cs
  code/ui/generalhud/menu/Menu.Settings.Generator.cs
  code/ui/generalhud/menu/Menu.Settings.Server.cs
  code/ui/generalhud/menu/Menu.Settings.cs
Labels: type/enhancement, area/code

#325 Fix: Refactor round logic, fix round starting bug, fix quickshop exception
  code/gamemode/Game.cs
  code/global/Utils.cs
  code/items/perks/radar/Radar.cs
  code/map/MapHandler.cs
  code/player/Inventory.cs
  code/player/TTTPlayer.Spectating.cs
  code/rounds/BaseRound.cs
  code/rounds/InProgressRound.cs
  code/rounds/PostRound.cs
  code/rounds/PreRound.cs
  code/ui/alivehud/quickshop/QuickShop.cs
  code/ui/generalhud/inspectmenu/InspectMenu.cs
  code/ui/generalhud/voicechat/VoiceChatDisplay.cs
Labels: type/bug, area/code

#340 Fea: Commit .fgd file, trim down .gitignore
  .gitignore
  config/tttreborn.fgd
Labels: type/enhancement, area/meta, area/code

#329 Fea: s&box options FOV
  code/player/TTTPlayer.cs
  code/player/camera/FirstPersonSpectatorCamera.cs
  code/player/camera/FreeSpectateCamera.cs
  code/player/camera/RagdollSpectateCamera.cs
  code/player/camera/ThirdPersonSpectateCamera.cs
Labels: type/enhancement, area/code

#328 Fea: Keyboard bindings menu
  code/lang/packs/en-US.json
  code/ui/components/generic/Panel.scss
  code/ui/generalhud/menu/Menu.Keybindings.cs
  code/ui/generalhud/menu/Menu.cs
  code/ui/generalhud/menu/Menu.scss
Labels: area/code, issue/feature-request

#334 Fix: Use PlayerId instead of SteamId
  code/events/TTTEvent.Player.cs
  code/gamemode/Game.cs
  code/gamemode/Karma.cs
  code/global/RPCs.cs
  code/items/perks/radar/Radar.cs
  code/player/TTTPlayer.AFK.cs
  code/ui/generalhud/chat/ChatBox.cs
  code/ui/generalhud/inspectmenu/InspectMenu.cs
  code/ui/generalhud/scoreboard/Scoreboard.cs
  code/ui/generalhud/scoreboard/ScoreboardEntry.cs
  code/ui/generalhud/voicechat/VoiceChatEntry.cs
Labels: type/enhancement, area/code

#335 Bug: Fix weapon hands pickup
  code/items/equipments/Hands.GrabbableProp.cs
Labels: type/bug

#337 Fea: Give out detective role
  code/rounds/PreRound.cs
Labels: type/enhancement, area/code

#330 Fea: Map selection
  code/events/TTTEvent.Game.cs
  code/gamemode/Game.cs
  code/global/RPCs.cs
  code/lang/packs/en-US.json
  code/map/MapSelectionHandler.cs
  code/rounds/InProgressRound.cs
  code/rounds/MapSelectionRound.cs
  code/rounds/PostRound.cs
  code/settings/Settings.Game.cs
  code/ui/Hud.cs
  code/ui/generalhud/inspectmenu/InspectMenu.cs
  code/ui/generalhud/mapselectionmenu/MapSelectionMenu.cs
  code/ui/generalhud/mapselectionmenu/MapSelectionMenu.scss
Labels: type/enhancement, area/code

#345 Fix: Add Debug to Logger
  code/gamemode/Game.cs
  code/global/GlobalUsings.cs
  code/global/Log.cs
  code/global/LoggerExtension.cs
  code/rounds/InProgressRound.cs
  code/rounds/PreRound.cs
  code/ui/generalhud/mapselectionmenu/MapSelectionMenu.cs
  code/ui/visual-programming/Window.Build.cs
  config/tttreborn.fgd
Labels: type/bug, area/code

#336 Fea: Show buy error items, scroll quickshop, fix quick shop description
  code/ui/alivehud/quickshop/QuickShop.cs
  code/ui/alivehud/quickshop/QuickShop.scss
Labels: type/bug, type/enhancement, area/UI, area/code

#343 Fea: Replace use system
  code/global/RPCs.cs
  code/items/IItem.cs
  code/items/ammo/BuckshotAmmo.cs
  code/items/ammo/PistolAmmo.cs
  code/items/ammo/SMGAmmo.cs
  code/items/ammo/TTTAmmo.cs
  code/items/ammo/TTTAmmoRandom.cs
  code/items/equipments/entities/C4Entity.cs
  code/items/equipments/entities/HealthstationEntity.cs
  code/items/weapons/NewtonLauncher.cs
  code/items/weapons/Pistol.cs
  code/items/weapons/SMG.cs
  code/items/weapons/Shotgun.cs
  code/items/weapons/TTTWeapon.cs
  code/lang/packs/en-US.json
  code/player/IEntityHint.cs
  code/player/Inventory.cs
  code/player/PlayerCorpse.cs
  code/player/TTTPlayer.Confirmation.cs
  code/player/TTTPlayer.Hints.cs
  code/player/TTTPlayer.Lookup.cs
  code/player/TTTPlayer.Nameplate.cs
  code/player/TTTPlayer.RPCs.cs
  code/player/TTTPlayer.cs
  code/rounds/InProgressRound.cs
  code/rounds/PreRound.cs
  code/ui/generalhud/entityhint/IEntityHint.cs
  code/ui/generalhud/inspectmenu/InspectMenu.cs
Labels: type/bug, type/enhancement, area/code

#349 Settings: Fixed settings not saving and wrong settings switch data
  .gitignore
  code/gamemode/Game.cs
  code/global/Utils.cs
  code/rounds/InProgressRound.cs
  code/settings/Settings.cs
  code/ui/generalhud/menu/Menu.Settings.Generator.cs
  code/ui/generalhud/menu/Menu.Settings.cs
Labels: type/bug, area/code

#350 HUD: Fix AliveHud initialization on first spawn
  code/player/TTTPlayer.cs
  code/ui/Hud.cs
  code/ui/alivehud/staminaindicator/StaminaIndicator.cs
Labels: type/bug, area/code

#351 SCSS: Fixed scss issues
  code/ui/alivehud/c4/C4Arm.scss
  code/ui/alivehud/quickshop/QuickShop.scss
  code/ui/components/generic/Panel.scss
  code/ui/components/modal/fileselection/FileSelection.scss
  code/ui/components/tabs/Tabs.scss
  code/ui/generalhud/inspectmenu/InspectMenu.scss
  code/ui/generalhud/mapselectionmenu/MapSelectionMenu.scss
  code/ui/generalhud/menu/Menu.scss
Labels: type/enhancement, area/code

#356 Fix: Added some more Task error catching
  code/gamemode/Game.cs
  code/items/equipments/Hands.GrabbableProp.cs
  code/items/equipments/Hands.cs
  code/items/equipments/entities/C4Entity.cs
  code/items/perks/TTTCountdownPerk.cs
  code/rounds/PreRound.cs
  code/rounds/WaitingRound.cs
  config/tttreborn.fgd
Labels: type/bug, area/code

#357 Visual programming: Added `StackNode` integration and `NodeStack` syncing + fixes
  code/gamemode/Game.cs
  code/global/LoggerExtension.cs
  code/lang/packs/de-DE.json
  code/lang/packs/en-US.json
  code/settings/Settings.cs
  code/ui/components/modal/dialogbox/DialogBox.scss
  code/ui/components/modal/fileselection/FileSelection.scss
  code/ui/generalhud/menu/Menu.Settings.Buttons.cs
  code/ui/generalhud/menu/Menu.ShopEditor.ItemToggle.cs
  code/ui/generalhud/menu/Menu.cs
  code/ui/visual-programming/Window.Build.cs
  code/ui/visual-programming/Window.Load.cs
  code/ui/visual-programming/Window.Reset.cs
  code/ui/visual-programming/Window.Save.cs
  code/ui/visual-programming/Window.cs
  code/ui/visual-programming/Window.scss
  code/ui/visual-programming/WindowSidebar.cs
  code/ui/visual-programming/nodes/PercentageSelectionNode.cs
  code/ui/visual-programming/nodes/RoleSelectionNode.cs
  code/ui/visual-programming/nodes/node/Node.cs
  code/ui/visual-programming/nodes/setting/NodePercentSetting.cs
  code/ui/visual-programming/nodes/setting/NodeRoleSelectionSetting.cs
  code/visual-programming/NodeStack.Networking.cs
  code/visual-programming/NodeStack.cs
  code/visual-programming/nodes/AllPlayersStackNode.cs
  code/visual-programming/nodes/PercentageSelectionStackNode.cs
  code/visual-programming/nodes/RoleSelectionStackNode.cs
  code/visual-programming/nodes/StackNode.cs
Labels: type/enhancement, area/code
